/* font-family: 'Courier Prime', monospace;
font-family: 'Montserrat', sans-serif; */

body {
    text-align: center;
}

a {
    text-decoration: none;
    color: #EF8354;
}

nav, h1, h2 {
    font-family: 'Courier Prime', monospace;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin: 0 500px;
}